.app-content {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
}

.course-card__main {
    margin: 15px 0 15px;
}

.lesson-folder__main {
    margin: 15px 0 15px;
}


.tudor-item-controls {
    display: flex;
    margin: 20px 0 20px 0;
}

.tudor-item-controls__msg {
    flex-grow: 1;
    margin-left: 20px;
}

.tudor-item-controls__controls {
    margin-right: auto;
}

.tudor-popup {
    z-index: 20;
    width: 500px;
    position: fixed;
    top: 250px;
    left: 50%;
    margin-left: -250px;
}
